.container {
	max-width: 1620px;
	margin: 0 auto;
}

.block-title {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 67px;
	color: #333333;
}

.block-text {
	font-weight: 500;
	font-size: 19px;
	line-height: 40px;
	color: #000000;
}

.w-161 {
	max-width: 161px;
}

.w-235 {
	max-width: 235px;
}

.w-342 {
	max-width: 342px;
}

.w-513 {
	max-width: 513px;
}