.container {
	max-width: 1620px;
	margin: 0 auto;
}

.block-title {
	font-family: 'Playfair Display', sans-serif;
	font-weight: 700;
	font-size: 50px;
	line-height: 67px;
	color: #333333;
}

.block-text {
	font-weight: 500;
	font-size: 19px;
	line-height: 40px;
	color: #000000;
}

.text-sm {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
}

.btn-red {
	padding: 25px 81px;

	font-weight: 500;
	font-size: 19px;
	line-height: 23px;
	letter-spacing: 0.01em;
	color: #fff;

	background-color: #FF7474;
}

.w-161 {
	max-width: 161px;
}

.w-235 {
	max-width: 235px;
}

.w-342 {
	max-width: 342px;
}

.w-363 {
	max-width: 363px;
}

.w-415 {
	max-width: 415px;
}

.w-513 {
	max-width: 513px;
}